@import "../../../scss/mixnin";
@import "../../../scss/varaible";

nav {
    width: 80%;
    margin-left: 10% !important;
    padding-top: 20px !important;
    .navbar {
        display: flex;
        justify-content: space-between;
        .logo {
            @include text(36px, 700, white, null);
            padding: 0 20px;
            cursor: pointer;
        }

        .right_site {
            padding: 10px 30px;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;
                li {
                    color: white;
                    cursor: pointer;
                    font-size: 18px;
                    font-family: 'Josefin Sans', sans-serif;
                }
                svg {
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
}
